---
layout: default
---

<div class="home">

  <h1 class="page-heading">Lessons</h1>

  <ul class="lesson-list">
    {% for lesson in site.lessons %}
      <li>
        <span class="lesson-meta">{{ lesson.subject }} {{ lesson.number }}</span>

        <h2>
          <a class="lesson-link" href="{{ lesson.url | prepend: site.baseurl }}">{{ lesson.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
  
  <h1 class="page-heading">Tests</h1>

  <ul class="test-list">
    {% for test in site.tests %}
      <li>
        <span class="test-meta">{{ test.time }} for {{ test.count }} questions</span>
        <h2>
          <a class="test-link" href="{{ test.url | prepend: site.baseurl }}">{{ test.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>  
</div>
